#set($pageTitle="Upload")
#parse("/pageheader.vm")

  <body>
    #parse("/menu.vm")
	    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h3>Please upload a file</h3>
	        <form method="post" action="/jarviewer/upload.htm" enctype="multipart/form-data">
	            <input type="file" name="file"/>
	            <input type="submit" class="btn primary" value="Upload File"/>
	        </form>
        </div>
        #include("/footer.vm")
    </body>
</html>