#set($pageTitle="$!query in $!jarFile.OrigName")
#parse("/pageheader.vm")

  <body>
    #parse("/menu.vm")
        <div class="container">
        <div class="row">
        <div class="hero-unit">
            <h3>Class name match results</h3>
            <table>
            <tr>
              <td>No.</td><td>Class Name</td>
            </tr>
            #if($matches && $matches.size()>0)
            #foreach($f in $matches)
             <tr>
               <td>$velocityCount</td>
               <td><a href="view.htm?id=$!{id}&clz=$f">$f</a></td>
             </tr>
            #end
            #else
             <tr><td>No class mathes yet. </td></tr>
            #end
            </table>
        </div>
        </div>
        </div>
        #include("/footer.vm")
    </body>
</html>
