#set($pageTitle="Batch Rename")
#parse("/pageheader.vm")

#macro(esc $name)
$name.replace("<","&lt;").replace(">","&gt;")
#end
  <body>
    #parse("/menu.vm")
        <div class="container">
        <div class="row">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h3>Execute Rename Script in $jarFile.origName:</h3>
            <form id="batch_form" method="POST" action="/renamer/batch.htm?id=$id">
               <textarea name="renameConfig" ></textarea>
               <input type="submit" name="submit" value="Execute Script" class="btn primary">
            </form> 
            #if ($renameConfig)
            Done.
            #end
        </div>
        </div>
        </div>
       
        #include("/footer.vm")
    </body>
</html>
